{
  "openapi": "3.1.0",
  "info": {
    "title": "MagicBlock Router API",
    "description": "JSON-RPC API for the MagicBlock Router.",
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://devnet-router.magicblock.app",
      "description": "Devnet - RPC Magic Router"
    }
  ],
  "paths": {
    "/": {
      "post": {
        "summary": "getIdentity",
        "description": "Get the identity information of the current ER Validator",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "default": "2.0"
                  },
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "getIdentity"
                    ],
                    "default": "getIdentity"
                  }
                },
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "enum": [
                        "2.0"
                      ],
                      "default": "2.0"
                    },
                    "id": {
                      "type": "integer",
                      "default": 1
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "identity": {
                          "type": "string",
                          "description": "The public key identity of the ER node"
                        },
                        "fqdn": {
                          "type": "string",
                          "description": "The fully qualified domain name of the ER node"
                        }
                      },
                      "required": [
                        "identity",
                        "fqdn"
                      ]
                    },
                    "error": {
                      "type": "object",
                      "default": null
                    }
                  }
                },
                "example": {
                  "jsonrpc": "2.0",
                  "id": 1,
                  "result": {
                    "identity": "MAS1Dt9qreoRMQ14YQuhg8UTZMMzDdKhmkZMECCzk57",
                    "fqdn": "https://devnet-as.magicblock.app/"
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://devnet-router.magicblock.app",
            "description": "Devnet - RPC Magic Router"
          }
        ]
      }
    }
  }
}
