{
  "openapi": "3.1.0",
  "info": {
    "title": "Private Payments API",
    "version": "0.1.0",
    "description": "Fetch the SPL token balance for the owner's ATA on the base RPC."
  },
  "servers": [
    {
      "url": "https://payments.magicblock.app",
      "description": "Mainnet - Private Payments API"
    }
  ],
  "paths": {
    "/v1/spl/balance": {
      "get": {
        "summary": "Balance",
        "parameters": [
          {
            "name": "owner",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "cluster",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "mint",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Base-chain token balance",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "balance": { "type": "string" },
                    "decimals": { "type": "integer" }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Query error"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    }
  }
}
