{
  "openapi": "3.1.0",
  "info": {
    "title": "Private Payments API",
    "version": "0.1.0",
    "description": "Check whether the validator-scoped transfer queue exists for a mint on the ephemeral RPC."
  },
  "servers": [
    {
      "url": "https://payments.magicblock.app",
      "description": "Mainnet - Private Payments API"
    }
  ],
  "paths": {
    "/v1/spl/is-mint-initialized": {
      "get": {
        "summary": "Is Mint Initialized",
        "parameters": [
          {
            "name": "mint",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "cluster",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "validator",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Mint transfer queue initialization status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "initialized": { "type": "boolean" }
                  },
                  "required": ["initialized"]
                }
              }
            }
          },
          "400": {
            "description": "Query error"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    }
  }
}
