{
  "openapi": "3.1.0",
  "info": {
    "title": "PER Middleware API",
    "version": "0.1.3",
    "description": "Look up the authorized members of a permissioned account."
  },
  "servers": [
    { "url": "https://devnet-tee.magicblock.app", "description": "Devnet - PER TEE Validator" },
    { "url": "https://mainnet-tee.magicblock.app", "description": "Mainnet - PER TEE Validator" }
  ],
  "paths": {
    "/permission": {
      "get": {
        "summary": "Permission",
        "description": "Returns the on-chain `EphemeralPermission` access configuration for `pubkey`. `authorizedUsers` is `null` when the account is unrestricted (publicly readable) and an array of member pubkeys when it is restricted to specific members.",
        "parameters": [
          {
            "name": "pubkey",
            "in": "query",
            "required": true,
            "description": "Pubkey of the permissioned account to check.",
            "schema": {
              "type": "string",
              "example": "Bt9oNR5cCtnfuMmXgWELd6q5i974PdEMQDUE55nBC57L"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Permission status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "authorizedUsers": {
                      "type": ["array", "null"],
                      "items": { "type": "string" },
                      "description": "Member pubkeys authorized to access the account, or null if the account is unrestricted."
                    }
                  }
                },
                "example": {
                  "authorizedUsers": ["Bt9oNR5cCtnfuMmXgWELd6q5i974PdEMQDUE55nBC57L"]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["error"],
                  "properties": { "error": { "type": "string" } }
                }
              }
            }
          }
        }
      }
    }
  }
}
