{
  "openapi": "3.1.0",
  "info": {
    "title": "MagicBlock Solana RPC API",
    "description": "Solana JSON-RPC HTTP methods exposed by MagicBlock Devnet RPC endpoints. Method catalog mirrored from https://solana.com/docs/rpc/http.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://devnet-as.magicblock.app/",
      "description": "Devnet AS - RPC"
    },
    {
      "url": "https://devnet-us.magicblock.app/",
      "description": "Devnet US - RPC"
    },
    {
      "url": "https://devnet-eu.magicblock.app/",
      "description": "Devnet EU - RPC"
    }
  ],
  "paths": {
    "/getAccountInfo": {
      "post": {
        "summary": "getAccountInfo",
        "description": "Solana JSON-RPC method getAccountInfo.",
        "externalDocs": {
          "description": "Official Solana RPC documentation",
          "url": "https://solana.com/docs/rpc/http/getaccountinfo"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "default": "2.0"
                  },
                  "id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "default": 0
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "getAccountInfo"
                    ],
                    "default": "getAccountInfo"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "oneOf": [
                        {
                          "type": "string",
                          "description": "Account public key to query."
                        },
                        {
                          "type": "object",
                          "description": "Request options.",
                          "properties": {
                            "encoding": {
                              "type": "string",
                              "enum": [
                                "base64",
                                "base64+zstd"
                              ],
                              "default": "base64"
                            },
                            "commitment": {
                              "type": "string"
                            },
                            "dataSlice": {
                              "type": "object",
                              "properties": {
                                "offset": {
                                  "type": "integer"
                                },
                                "length": {
                                  "type": "integer"
                                }
                              },
                              "required": [
                                "offset",
                                "length"
                              ]
                            }
                          },
                          "required": [
                            "encoding"
                          ]
                        }
                      ]
                    },
                    "description": "Method-specific parameters. See Solana RPC docs for exact shape.",
                    "minItems": 2,
                    "maxItems": 2,
                    "default": [
                      "5RgeA5P8bRaynJovch3zQURfJxXL3QK2JYg1YamSvyLb",
                      {
                        "encoding": "base64"
                      }
                    ]
                  }
                },
                "default": {
                  "method": "getAccountInfo",
                  "jsonrpc": "2.0",
                  "params": [
                    "5RgeA5P8bRaynJovch3zQURfJxXL3QK2JYg1YamSvyLb",
                    {
                      "encoding": "base64"
                    }
                  ],
                  "id": 0
                },
                "required": [
                  "jsonrpc",
                  "id",
                  "method",
                  "params"
                ]
              },
              "example": {
                "method": "getAccountInfo",
                "jsonrpc": "2.0",
                "params": [
                  "5RgeA5P8bRaynJovch3zQURfJxXL3QK2JYg1YamSvyLb",
                  {
                    "encoding": "base64"
                  }
                ],
                "id": 0
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "enum": [
                        "2.0"
                      ],
                      "default": "2.0"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "result": {
                      "description": "Method-specific result payload.",
                      "oneOf": [
                        {
                          "type": "object"
                        },
                        {
                          "type": "array"
                        },
                        {
                          "type": "string"
                        },
                        {
                          "type": "number"
                        },
                        {
                          "type": "boolean"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "error": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "default": null
                    }
                  },
                  "required": [
                    "jsonrpc",
                    "id"
                  ]
                },
                "example": {
                  "jsonrpc": "2.0",
                  "id": 1,
                  "result": null,
                  "error": null
                }
              }
            }
          }
        }
      }
    },
    "/getBalance": {
      "post": {
        "summary": "getBalance",
        "description": "Solana JSON-RPC method getBalance.",
        "externalDocs": {
          "description": "Official Solana RPC documentation",
          "url": "https://solana.com/docs/rpc/http/getbalance"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "default": "2.0"
                  },
                  "id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "default": 1
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "getBalance"
                    ],
                    "default": "getBalance"
                  },
                  "params": {
                    "type": "array",
                    "items": {},
                    "description": "Method-specific parameters. See Solana RPC docs for exact shape.",
                    "default": []
                  }
                },
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ]
              },
              "example": {
                "jsonrpc": "2.0",
                "id": 1,
                "method": "getBalance",
                "params": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "enum": [
                        "2.0"
                      ],
                      "default": "2.0"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "result": {
                      "description": "Method-specific result payload.",
                      "oneOf": [
                        {
                          "type": "object"
                        },
                        {
                          "type": "array"
                        },
                        {
                          "type": "string"
                        },
                        {
                          "type": "number"
                        },
                        {
                          "type": "boolean"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "error": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "default": null
                    }
                  },
                  "required": [
                    "jsonrpc",
                    "id"
                  ]
                },
                "example": {
                  "jsonrpc": "2.0",
                  "id": 1,
                  "result": null,
                  "error": null
                }
              }
            }
          }
        }
      }
    },
    "/getBlock": {
      "post": {
        "summary": "getBlock",
        "description": "Solana JSON-RPC method getBlock.",
        "externalDocs": {
          "description": "Official Solana RPC documentation",
          "url": "https://solana.com/docs/rpc/http/getblock"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "default": "2.0"
                  },
                  "id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "default": 1
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "getBlock"
                    ],
                    "default": "getBlock"
                  },
                  "params": {
                    "type": "array",
                    "items": {},
                    "description": "Method-specific parameters. See Solana RPC docs for exact shape.",
                    "default": []
                  }
                },
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ]
              },
              "example": {
                "jsonrpc": "2.0",
                "id": 1,
                "method": "getBlock",
                "params": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "enum": [
                        "2.0"
                      ],
                      "default": "2.0"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "result": {
                      "description": "Method-specific result payload.",
                      "oneOf": [
                        {
                          "type": "object"
                        },
                        {
                          "type": "array"
                        },
                        {
                          "type": "string"
                        },
                        {
                          "type": "number"
                        },
                        {
                          "type": "boolean"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "error": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "default": null
                    }
                  },
                  "required": [
                    "jsonrpc",
                    "id"
                  ]
                },
                "example": {
                  "jsonrpc": "2.0",
                  "id": 1,
                  "result": null,
                  "error": null
                }
              }
            }
          }
        }
      }
    },
    "/getBlockCommitment": {
      "post": {
        "summary": "getBlockCommitment",
        "description": "Solana JSON-RPC method getBlockCommitment.",
        "externalDocs": {
          "description": "Official Solana RPC documentation",
          "url": "https://solana.com/docs/rpc/http/getblockcommitment"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "default": "2.0"
                  },
                  "id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "default": 1
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "getBlockCommitment"
                    ],
                    "default": "getBlockCommitment"
                  },
                  "params": {
                    "type": "array",
                    "items": {},
                    "description": "Method-specific parameters. See Solana RPC docs for exact shape.",
                    "default": []
                  }
                },
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ]
              },
              "example": {
                "jsonrpc": "2.0",
                "id": 1,
                "method": "getBlockCommitment",
                "params": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "enum": [
                        "2.0"
                      ],
                      "default": "2.0"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "result": {
                      "description": "Method-specific result payload.",
                      "oneOf": [
                        {
                          "type": "object"
                        },
                        {
                          "type": "array"
                        },
                        {
                          "type": "string"
                        },
                        {
                          "type": "number"
                        },
                        {
                          "type": "boolean"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "error": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "default": null
                    }
                  },
                  "required": [
                    "jsonrpc",
                    "id"
                  ]
                },
                "example": {
                  "jsonrpc": "2.0",
                  "id": 1,
                  "result": null,
                  "error": null
                }
              }
            }
          }
        }
      }
    },
    "/getBlockHeight": {
      "post": {
        "summary": "getBlockHeight",
        "description": "Solana JSON-RPC method getBlockHeight.",
        "externalDocs": {
          "description": "Official Solana RPC documentation",
          "url": "https://solana.com/docs/rpc/http/getblockheight"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "default": "2.0"
                  },
                  "id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "default": 1
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "getBlockHeight"
                    ],
                    "default": "getBlockHeight"
                  },
                  "params": {
                    "type": "array",
                    "items": {},
                    "description": "Method-specific parameters. See Solana RPC docs for exact shape.",
                    "default": []
                  }
                },
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ]
              },
              "example": {
                "jsonrpc": "2.0",
                "id": 1,
                "method": "getBlockHeight",
                "params": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "enum": [
                        "2.0"
                      ],
                      "default": "2.0"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "result": {
                      "description": "Method-specific result payload.",
                      "oneOf": [
                        {
                          "type": "object"
                        },
                        {
                          "type": "array"
                        },
                        {
                          "type": "string"
                        },
                        {
                          "type": "number"
                        },
                        {
                          "type": "boolean"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "error": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "default": null
                    }
                  },
                  "required": [
                    "jsonrpc",
                    "id"
                  ]
                },
                "example": {
                  "jsonrpc": "2.0",
                  "id": 1,
                  "result": null,
                  "error": null
                }
              }
            }
          }
        }
      }
    },
    "/getBlockProduction": {
      "post": {
        "summary": "getBlockProduction",
        "description": "Solana JSON-RPC method getBlockProduction.",
        "externalDocs": {
          "description": "Official Solana RPC documentation",
          "url": "https://solana.com/docs/rpc/http/getblockproduction"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "default": "2.0"
                  },
                  "id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "default": 1
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "getBlockProduction"
                    ],
                    "default": "getBlockProduction"
                  },
                  "params": {
                    "type": "array",
                    "items": {},
                    "description": "Method-specific parameters. See Solana RPC docs for exact shape.",
                    "default": []
                  }
                },
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ]
              },
              "example": {
                "jsonrpc": "2.0",
                "id": 1,
                "method": "getBlockProduction",
                "params": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "enum": [
                        "2.0"
                      ],
                      "default": "2.0"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "result": {
                      "description": "Method-specific result payload.",
                      "oneOf": [
                        {
                          "type": "object"
                        },
                        {
                          "type": "array"
                        },
                        {
                          "type": "string"
                        },
                        {
                          "type": "number"
                        },
                        {
                          "type": "boolean"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "error": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "default": null
                    }
                  },
                  "required": [
                    "jsonrpc",
                    "id"
                  ]
                },
                "example": {
                  "jsonrpc": "2.0",
                  "id": 1,
                  "result": null,
                  "error": null
                }
              }
            }
          }
        }
      }
    },
    "/getBlocks": {
      "post": {
        "summary": "getBlocks",
        "description": "Solana JSON-RPC method getBlocks.",
        "externalDocs": {
          "description": "Official Solana RPC documentation",
          "url": "https://solana.com/docs/rpc/http/getblocks"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "default": "2.0"
                  },
                  "id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "default": 1
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "getBlocks"
                    ],
                    "default": "getBlocks"
                  },
                  "params": {
                    "type": "array",
                    "items": {},
                    "description": "Method-specific parameters. See Solana RPC docs for exact shape.",
                    "default": []
                  }
                },
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ]
              },
              "example": {
                "jsonrpc": "2.0",
                "id": 1,
                "method": "getBlocks",
                "params": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "enum": [
                        "2.0"
                      ],
                      "default": "2.0"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "result": {
                      "description": "Method-specific result payload.",
                      "oneOf": [
                        {
                          "type": "object"
                        },
                        {
                          "type": "array"
                        },
                        {
                          "type": "string"
                        },
                        {
                          "type": "number"
                        },
                        {
                          "type": "boolean"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "error": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "default": null
                    }
                  },
                  "required": [
                    "jsonrpc",
                    "id"
                  ]
                },
                "example": {
                  "jsonrpc": "2.0",
                  "id": 1,
                  "result": null,
                  "error": null
                }
              }
            }
          }
        }
      }
    },
    "/getBlocksWithLimit": {
      "post": {
        "summary": "getBlocksWithLimit",
        "description": "Solana JSON-RPC method getBlocksWithLimit.",
        "externalDocs": {
          "description": "Official Solana RPC documentation",
          "url": "https://solana.com/docs/rpc/http/getblockswithlimit"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "default": "2.0"
                  },
                  "id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "default": 1
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "getBlocksWithLimit"
                    ],
                    "default": "getBlocksWithLimit"
                  },
                  "params": {
                    "type": "array",
                    "items": {},
                    "description": "Method-specific parameters. See Solana RPC docs for exact shape.",
                    "default": []
                  }
                },
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ]
              },
              "example": {
                "jsonrpc": "2.0",
                "id": 1,
                "method": "getBlocksWithLimit",
                "params": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "enum": [
                        "2.0"
                      ],
                      "default": "2.0"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "result": {
                      "description": "Method-specific result payload.",
                      "oneOf": [
                        {
                          "type": "object"
                        },
                        {
                          "type": "array"
                        },
                        {
                          "type": "string"
                        },
                        {
                          "type": "number"
                        },
                        {
                          "type": "boolean"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "error": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "default": null
                    }
                  },
                  "required": [
                    "jsonrpc",
                    "id"
                  ]
                },
                "example": {
                  "jsonrpc": "2.0",
                  "id": 1,
                  "result": null,
                  "error": null
                }
              }
            }
          }
        }
      }
    },
    "/getBlockTime": {
      "post": {
        "summary": "getBlockTime",
        "description": "Solana JSON-RPC method getBlockTime.",
        "externalDocs": {
          "description": "Official Solana RPC documentation",
          "url": "https://solana.com/docs/rpc/http/getblocktime"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "default": "2.0"
                  },
                  "id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "default": 1
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "getBlockTime"
                    ],
                    "default": "getBlockTime"
                  },
                  "params": {
                    "type": "array",
                    "items": {},
                    "description": "Method-specific parameters. See Solana RPC docs for exact shape.",
                    "default": []
                  }
                },
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ]
              },
              "example": {
                "jsonrpc": "2.0",
                "id": 1,
                "method": "getBlockTime",
                "params": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "enum": [
                        "2.0"
                      ],
                      "default": "2.0"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "result": {
                      "description": "Method-specific result payload.",
                      "oneOf": [
                        {
                          "type": "object"
                        },
                        {
                          "type": "array"
                        },
                        {
                          "type": "string"
                        },
                        {
                          "type": "number"
                        },
                        {
                          "type": "boolean"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "error": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "default": null
                    }
                  },
                  "required": [
                    "jsonrpc",
                    "id"
                  ]
                },
                "example": {
                  "jsonrpc": "2.0",
                  "id": 1,
                  "result": null,
                  "error": null
                }
              }
            }
          }
        }
      }
    },
    "/getClusterNodes": {
      "post": {
        "summary": "getClusterNodes",
        "description": "Solana JSON-RPC method getClusterNodes.",
        "externalDocs": {
          "description": "Official Solana RPC documentation",
          "url": "https://solana.com/docs/rpc/http/getclusternodes"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "default": "2.0"
                  },
                  "id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "default": 1
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "getClusterNodes"
                    ],
                    "default": "getClusterNodes"
                  },
                  "params": {
                    "type": "array",
                    "items": {},
                    "description": "Method-specific parameters. See Solana RPC docs for exact shape.",
                    "default": []
                  }
                },
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ]
              },
              "example": {
                "jsonrpc": "2.0",
                "id": 1,
                "method": "getClusterNodes",
                "params": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "enum": [
                        "2.0"
                      ],
                      "default": "2.0"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "result": {
                      "description": "Method-specific result payload.",
                      "oneOf": [
                        {
                          "type": "object"
                        },
                        {
                          "type": "array"
                        },
                        {
                          "type": "string"
                        },
                        {
                          "type": "number"
                        },
                        {
                          "type": "boolean"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "error": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "default": null
                    }
                  },
                  "required": [
                    "jsonrpc",
                    "id"
                  ]
                },
                "example": {
                  "jsonrpc": "2.0",
                  "id": 1,
                  "result": null,
                  "error": null
                }
              }
            }
          }
        }
      }
    },
    "/getEpochInfo": {
      "post": {
        "summary": "getEpochInfo",
        "description": "Solana JSON-RPC method getEpochInfo.",
        "externalDocs": {
          "description": "Official Solana RPC documentation",
          "url": "https://solana.com/docs/rpc/http/getepochinfo"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "default": "2.0"
                  },
                  "id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "default": 1
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "getEpochInfo"
                    ],
                    "default": "getEpochInfo"
                  },
                  "params": {
                    "type": "array",
                    "items": {},
                    "description": "Method-specific parameters. See Solana RPC docs for exact shape.",
                    "default": []
                  }
                },
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ]
              },
              "example": {
                "jsonrpc": "2.0",
                "id": 1,
                "method": "getEpochInfo",
                "params": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "enum": [
                        "2.0"
                      ],
                      "default": "2.0"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "result": {
                      "description": "Method-specific result payload.",
                      "oneOf": [
                        {
                          "type": "object"
                        },
                        {
                          "type": "array"
                        },
                        {
                          "type": "string"
                        },
                        {
                          "type": "number"
                        },
                        {
                          "type": "boolean"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "error": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "default": null
                    }
                  },
                  "required": [
                    "jsonrpc",
                    "id"
                  ]
                },
                "example": {
                  "jsonrpc": "2.0",
                  "id": 1,
                  "result": null,
                  "error": null
                }
              }
            }
          }
        }
      }
    },
    "/getEpochSchedule": {
      "post": {
        "summary": "getEpochSchedule",
        "description": "Solana JSON-RPC method getEpochSchedule.",
        "externalDocs": {
          "description": "Official Solana RPC documentation",
          "url": "https://solana.com/docs/rpc/http/getepochschedule"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "default": "2.0"
                  },
                  "id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "default": 1
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "getEpochSchedule"
                    ],
                    "default": "getEpochSchedule"
                  },
                  "params": {
                    "type": "array",
                    "items": {},
                    "description": "Method-specific parameters. See Solana RPC docs for exact shape.",
                    "default": []
                  }
                },
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ]
              },
              "example": {
                "jsonrpc": "2.0",
                "id": 1,
                "method": "getEpochSchedule",
                "params": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "enum": [
                        "2.0"
                      ],
                      "default": "2.0"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "result": {
                      "description": "Method-specific result payload.",
                      "oneOf": [
                        {
                          "type": "object"
                        },
                        {
                          "type": "array"
                        },
                        {
                          "type": "string"
                        },
                        {
                          "type": "number"
                        },
                        {
                          "type": "boolean"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "error": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "default": null
                    }
                  },
                  "required": [
                    "jsonrpc",
                    "id"
                  ]
                },
                "example": {
                  "jsonrpc": "2.0",
                  "id": 1,
                  "result": null,
                  "error": null
                }
              }
            }
          }
        }
      }
    },
    "/getFeeForMessage": {
      "post": {
        "summary": "getFeeForMessage",
        "description": "Solana JSON-RPC method getFeeForMessage.",
        "externalDocs": {
          "description": "Official Solana RPC documentation",
          "url": "https://solana.com/docs/rpc/http/getfeeformessage"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "default": "2.0"
                  },
                  "id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "default": 1
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "getFeeForMessage"
                    ],
                    "default": "getFeeForMessage"
                  },
                  "params": {
                    "type": "array",
                    "items": {},
                    "description": "Method-specific parameters. See Solana RPC docs for exact shape.",
                    "default": []
                  }
                },
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ]
              },
              "example": {
                "jsonrpc": "2.0",
                "id": 1,
                "method": "getFeeForMessage",
                "params": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "enum": [
                        "2.0"
                      ],
                      "default": "2.0"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "result": {
                      "description": "Method-specific result payload.",
                      "oneOf": [
                        {
                          "type": "object"
                        },
                        {
                          "type": "array"
                        },
                        {
                          "type": "string"
                        },
                        {
                          "type": "number"
                        },
                        {
                          "type": "boolean"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "error": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "default": null
                    }
                  },
                  "required": [
                    "jsonrpc",
                    "id"
                  ]
                },
                "example": {
                  "jsonrpc": "2.0",
                  "id": 1,
                  "result": null,
                  "error": null
                }
              }
            }
          }
        }
      }
    },
    "/getFirstAvailableBlock": {
      "post": {
        "summary": "getFirstAvailableBlock",
        "description": "Solana JSON-RPC method getFirstAvailableBlock.",
        "externalDocs": {
          "description": "Official Solana RPC documentation",
          "url": "https://solana.com/docs/rpc/http/getfirstavailableblock"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "default": "2.0"
                  },
                  "id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "default": 1
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "getFirstAvailableBlock"
                    ],
                    "default": "getFirstAvailableBlock"
                  },
                  "params": {
                    "type": "array",
                    "items": {},
                    "description": "Method-specific parameters. See Solana RPC docs for exact shape.",
                    "default": []
                  }
                },
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ]
              },
              "example": {
                "jsonrpc": "2.0",
                "id": 1,
                "method": "getFirstAvailableBlock",
                "params": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "enum": [
                        "2.0"
                      ],
                      "default": "2.0"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "result": {
                      "description": "Method-specific result payload.",
                      "oneOf": [
                        {
                          "type": "object"
                        },
                        {
                          "type": "array"
                        },
                        {
                          "type": "string"
                        },
                        {
                          "type": "number"
                        },
                        {
                          "type": "boolean"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "error": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "default": null
                    }
                  },
                  "required": [
                    "jsonrpc",
                    "id"
                  ]
                },
                "example": {
                  "jsonrpc": "2.0",
                  "id": 1,
                  "result": null,
                  "error": null
                }
              }
            }
          }
        }
      }
    },
    "/getGenesisHash": {
      "post": {
        "summary": "getGenesisHash",
        "description": "Solana JSON-RPC method getGenesisHash.",
        "externalDocs": {
          "description": "Official Solana RPC documentation",
          "url": "https://solana.com/docs/rpc/http/getgenesishash"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "default": "2.0"
                  },
                  "id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "default": 1
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "getGenesisHash"
                    ],
                    "default": "getGenesisHash"
                  },
                  "params": {
                    "type": "array",
                    "items": {},
                    "description": "Method-specific parameters. See Solana RPC docs for exact shape.",
                    "default": []
                  }
                },
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ]
              },
              "example": {
                "jsonrpc": "2.0",
                "id": 1,
                "method": "getGenesisHash",
                "params": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "enum": [
                        "2.0"
                      ],
                      "default": "2.0"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "result": {
                      "description": "Method-specific result payload.",
                      "oneOf": [
                        {
                          "type": "object"
                        },
                        {
                          "type": "array"
                        },
                        {
                          "type": "string"
                        },
                        {
                          "type": "number"
                        },
                        {
                          "type": "boolean"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "error": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "default": null
                    }
                  },
                  "required": [
                    "jsonrpc",
                    "id"
                  ]
                },
                "example": {
                  "jsonrpc": "2.0",
                  "id": 1,
                  "result": null,
                  "error": null
                }
              }
            }
          }
        }
      }
    },
    "/getHealth": {
      "post": {
        "summary": "getHealth",
        "description": "Solana JSON-RPC method getHealth.",
        "externalDocs": {
          "description": "Official Solana RPC documentation",
          "url": "https://solana.com/docs/rpc/http/gethealth"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "default": "2.0"
                  },
                  "id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "default": 1
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "getHealth"
                    ],
                    "default": "getHealth"
                  },
                  "params": {
                    "type": "array",
                    "items": {},
                    "description": "Method-specific parameters. See Solana RPC docs for exact shape.",
                    "default": []
                  }
                },
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ]
              },
              "example": {
                "jsonrpc": "2.0",
                "id": 1,
                "method": "getHealth",
                "params": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "enum": [
                        "2.0"
                      ],
                      "default": "2.0"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "result": {
                      "description": "Method-specific result payload.",
                      "oneOf": [
                        {
                          "type": "object"
                        },
                        {
                          "type": "array"
                        },
                        {
                          "type": "string"
                        },
                        {
                          "type": "number"
                        },
                        {
                          "type": "boolean"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "error": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "default": null
                    }
                  },
                  "required": [
                    "jsonrpc",
                    "id"
                  ]
                },
                "example": {
                  "jsonrpc": "2.0",
                  "id": 1,
                  "result": null,
                  "error": null
                }
              }
            }
          }
        }
      }
    },
    "/getHighestSnapshotSlot": {
      "post": {
        "summary": "getHighestSnapshotSlot",
        "description": "Solana JSON-RPC method getHighestSnapshotSlot.",
        "externalDocs": {
          "description": "Official Solana RPC documentation",
          "url": "https://solana.com/docs/rpc/http/gethighestsnapshotslot"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "default": "2.0"
                  },
                  "id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "default": 1
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "getHighestSnapshotSlot"
                    ],
                    "default": "getHighestSnapshotSlot"
                  },
                  "params": {
                    "type": "array",
                    "items": {},
                    "description": "Method-specific parameters. See Solana RPC docs for exact shape.",
                    "default": []
                  }
                },
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ]
              },
              "example": {
                "jsonrpc": "2.0",
                "id": 1,
                "method": "getHighestSnapshotSlot",
                "params": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "enum": [
                        "2.0"
                      ],
                      "default": "2.0"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "result": {
                      "description": "Method-specific result payload.",
                      "oneOf": [
                        {
                          "type": "object"
                        },
                        {
                          "type": "array"
                        },
                        {
                          "type": "string"
                        },
                        {
                          "type": "number"
                        },
                        {
                          "type": "boolean"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "error": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "default": null
                    }
                  },
                  "required": [
                    "jsonrpc",
                    "id"
                  ]
                },
                "example": {
                  "jsonrpc": "2.0",
                  "id": 1,
                  "result": null,
                  "error": null
                }
              }
            }
          }
        }
      }
    },
    "/getIdentity": {
      "post": {
        "summary": "getIdentity",
        "description": "Solana JSON-RPC method getIdentity.",
        "externalDocs": {
          "description": "Official Solana RPC documentation",
          "url": "https://solana.com/docs/rpc/http/getidentity"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "default": "2.0"
                  },
                  "id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "default": 1
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "getIdentity"
                    ],
                    "default": "getIdentity"
                  },
                  "params": {
                    "type": "array",
                    "items": {},
                    "description": "Method-specific parameters. See Solana RPC docs for exact shape.",
                    "default": []
                  }
                },
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ]
              },
              "example": {
                "jsonrpc": "2.0",
                "id": 1,
                "method": "getIdentity",
                "params": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "enum": [
                        "2.0"
                      ],
                      "default": "2.0"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "result": {
                      "description": "Method-specific result payload.",
                      "oneOf": [
                        {
                          "type": "object"
                        },
                        {
                          "type": "array"
                        },
                        {
                          "type": "string"
                        },
                        {
                          "type": "number"
                        },
                        {
                          "type": "boolean"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "error": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "default": null
                    }
                  },
                  "required": [
                    "jsonrpc",
                    "id"
                  ]
                },
                "example": {
                  "jsonrpc": "2.0",
                  "id": 1,
                  "result": null,
                  "error": null
                }
              }
            }
          }
        }
      }
    },
    "/getInflationGovernor": {
      "post": {
        "summary": "getInflationGovernor",
        "description": "Solana JSON-RPC method getInflationGovernor.",
        "externalDocs": {
          "description": "Official Solana RPC documentation",
          "url": "https://solana.com/docs/rpc/http/getinflationgovernor"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "default": "2.0"
                  },
                  "id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "default": 1
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "getInflationGovernor"
                    ],
                    "default": "getInflationGovernor"
                  },
                  "params": {
                    "type": "array",
                    "items": {},
                    "description": "Method-specific parameters. See Solana RPC docs for exact shape.",
                    "default": []
                  }
                },
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ]
              },
              "example": {
                "jsonrpc": "2.0",
                "id": 1,
                "method": "getInflationGovernor",
                "params": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "enum": [
                        "2.0"
                      ],
                      "default": "2.0"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "result": {
                      "description": "Method-specific result payload.",
                      "oneOf": [
                        {
                          "type": "object"
                        },
                        {
                          "type": "array"
                        },
                        {
                          "type": "string"
                        },
                        {
                          "type": "number"
                        },
                        {
                          "type": "boolean"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "error": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "default": null
                    }
                  },
                  "required": [
                    "jsonrpc",
                    "id"
                  ]
                },
                "example": {
                  "jsonrpc": "2.0",
                  "id": 1,
                  "result": null,
                  "error": null
                }
              }
            }
          }
        }
      }
    },
    "/getInflationRate": {
      "post": {
        "summary": "getInflationRate",
        "description": "Solana JSON-RPC method getInflationRate.",
        "externalDocs": {
          "description": "Official Solana RPC documentation",
          "url": "https://solana.com/docs/rpc/http/getinflationrate"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "default": "2.0"
                  },
                  "id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "default": 1
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "getInflationRate"
                    ],
                    "default": "getInflationRate"
                  },
                  "params": {
                    "type": "array",
                    "items": {},
                    "description": "Method-specific parameters. See Solana RPC docs for exact shape.",
                    "default": []
                  }
                },
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ]
              },
              "example": {
                "jsonrpc": "2.0",
                "id": 1,
                "method": "getInflationRate",
                "params": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "enum": [
                        "2.0"
                      ],
                      "default": "2.0"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "result": {
                      "description": "Method-specific result payload.",
                      "oneOf": [
                        {
                          "type": "object"
                        },
                        {
                          "type": "array"
                        },
                        {
                          "type": "string"
                        },
                        {
                          "type": "number"
                        },
                        {
                          "type": "boolean"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "error": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "default": null
                    }
                  },
                  "required": [
                    "jsonrpc",
                    "id"
                  ]
                },
                "example": {
                  "jsonrpc": "2.0",
                  "id": 1,
                  "result": null,
                  "error": null
                }
              }
            }
          }
        }
      }
    },
    "/getInflationReward": {
      "post": {
        "summary": "getInflationReward",
        "description": "Solana JSON-RPC method getInflationReward.",
        "externalDocs": {
          "description": "Official Solana RPC documentation",
          "url": "https://solana.com/docs/rpc/http/getinflationreward"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "default": "2.0"
                  },
                  "id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "default": 1
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "getInflationReward"
                    ],
                    "default": "getInflationReward"
                  },
                  "params": {
                    "type": "array",
                    "items": {},
                    "description": "Method-specific parameters. See Solana RPC docs for exact shape.",
                    "default": []
                  }
                },
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ]
              },
              "example": {
                "jsonrpc": "2.0",
                "id": 1,
                "method": "getInflationReward",
                "params": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "enum": [
                        "2.0"
                      ],
                      "default": "2.0"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "result": {
                      "description": "Method-specific result payload.",
                      "oneOf": [
                        {
                          "type": "object"
                        },
                        {
                          "type": "array"
                        },
                        {
                          "type": "string"
                        },
                        {
                          "type": "number"
                        },
                        {
                          "type": "boolean"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "error": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "default": null
                    }
                  },
                  "required": [
                    "jsonrpc",
                    "id"
                  ]
                },
                "example": {
                  "jsonrpc": "2.0",
                  "id": 1,
                  "result": null,
                  "error": null
                }
              }
            }
          }
        }
      }
    },
    "/getLargestAccounts": {
      "post": {
        "summary": "getLargestAccounts",
        "description": "Solana JSON-RPC method getLargestAccounts.",
        "externalDocs": {
          "description": "Official Solana RPC documentation",
          "url": "https://solana.com/docs/rpc/http/getlargestaccounts"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "default": "2.0"
                  },
                  "id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "default": 1
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "getLargestAccounts"
                    ],
                    "default": "getLargestAccounts"
                  },
                  "params": {
                    "type": "array",
                    "items": {},
                    "description": "Method-specific parameters. See Solana RPC docs for exact shape.",
                    "default": []
                  }
                },
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ]
              },
              "example": {
                "jsonrpc": "2.0",
                "id": 1,
                "method": "getLargestAccounts",
                "params": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "enum": [
                        "2.0"
                      ],
                      "default": "2.0"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "result": {
                      "description": "Method-specific result payload.",
                      "oneOf": [
                        {
                          "type": "object"
                        },
                        {
                          "type": "array"
                        },
                        {
                          "type": "string"
                        },
                        {
                          "type": "number"
                        },
                        {
                          "type": "boolean"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "error": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "default": null
                    }
                  },
                  "required": [
                    "jsonrpc",
                    "id"
                  ]
                },
                "example": {
                  "jsonrpc": "2.0",
                  "id": 1,
                  "result": null,
                  "error": null
                }
              }
            }
          }
        }
      }
    },
    "/getLatestBlockhash": {
      "post": {
        "summary": "getLatestBlockhash",
        "description": "Solana JSON-RPC method getLatestBlockhash.",
        "externalDocs": {
          "description": "Official Solana RPC documentation",
          "url": "https://solana.com/docs/rpc/http/getlatestblockhash"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "default": "2.0"
                  },
                  "id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "default": 1
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "getLatestBlockhash"
                    ],
                    "default": "getLatestBlockhash"
                  },
                  "params": {
                    "type": "array",
                    "items": {},
                    "description": "Method-specific parameters. See Solana RPC docs for exact shape.",
                    "default": []
                  }
                },
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ]
              },
              "example": {
                "jsonrpc": "2.0",
                "id": 1,
                "method": "getLatestBlockhash",
                "params": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "enum": [
                        "2.0"
                      ],
                      "default": "2.0"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "result": {
                      "description": "Method-specific result payload.",
                      "oneOf": [
                        {
                          "type": "object"
                        },
                        {
                          "type": "array"
                        },
                        {
                          "type": "string"
                        },
                        {
                          "type": "number"
                        },
                        {
                          "type": "boolean"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "error": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "default": null
                    }
                  },
                  "required": [
                    "jsonrpc",
                    "id"
                  ]
                },
                "example": {
                  "jsonrpc": "2.0",
                  "id": 1,
                  "result": null,
                  "error": null
                }
              }
            }
          }
        }
      }
    },
    "/getLeaderSchedule": {
      "post": {
        "summary": "getLeaderSchedule",
        "description": "Solana JSON-RPC method getLeaderSchedule.",
        "externalDocs": {
          "description": "Official Solana RPC documentation",
          "url": "https://solana.com/docs/rpc/http/getleaderschedule"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "default": "2.0"
                  },
                  "id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "default": 1
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "getLeaderSchedule"
                    ],
                    "default": "getLeaderSchedule"
                  },
                  "params": {
                    "type": "array",
                    "items": {},
                    "description": "Method-specific parameters. See Solana RPC docs for exact shape.",
                    "default": []
                  }
                },
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ]
              },
              "example": {
                "jsonrpc": "2.0",
                "id": 1,
                "method": "getLeaderSchedule",
                "params": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "enum": [
                        "2.0"
                      ],
                      "default": "2.0"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "result": {
                      "description": "Method-specific result payload.",
                      "oneOf": [
                        {
                          "type": "object"
                        },
                        {
                          "type": "array"
                        },
                        {
                          "type": "string"
                        },
                        {
                          "type": "number"
                        },
                        {
                          "type": "boolean"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "error": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "default": null
                    }
                  },
                  "required": [
                    "jsonrpc",
                    "id"
                  ]
                },
                "example": {
                  "jsonrpc": "2.0",
                  "id": 1,
                  "result": null,
                  "error": null
                }
              }
            }
          }
        }
      }
    },
    "/getMaxRetransmitSlot": {
[...]
